@charset "UTF-8";
/*colores*/
/*Tamaño de letras*/
/*Resoluciones de pantall*/
/*Margenes*/
/*Radio botones*/
/*Fuente*/
/*Mixins*/
* {
  margin: 0;
  padding: 0;
}

/*HEADER SASS*/
header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-block: 5px solid;
  writing-mode: horizontal-tb;
  color: orange;
}

.logo-peque {
  width: 300px;
  height: 100px;
}

.navbar {
  width: 100%;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  gap: 40px;
}

.nav-link {
  color: orange;
}

.nav-link.active {
  background-color: orange;
  border-radius: 40px;
}

.navbar-toggler {
  color: orange;
  border-color: orange;
}

.navbar-toggler-icon {
  background: url("https://api.iconify.design/solar/hamburger-menu-outline.svg?color=orange") no-repeat center center/contain;
}

.nav-item a:hover {
  color: white;
}

/*CARRUSEL*/
@media (min-width: 481px) {
  #carouselExample {
    margin: 0 auto;
    width: 50%;
  }
  .carousel-item img {
    height: 600px;
  }
}
@media (min-width: 992px) {
  #carouselExample {
    margin: 0 auto;
    width: 100%;
  }
  .carousel-item img {
    height: 600px;
  }
}
/*BODY SASS*/
body {
  font-family: "Almarai", sans-serif;
  background-color: black;
  margin-top: 150px;
  color: white;
}

h1, h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  margin-bottom: 10px;
  font-size: 20px;
}

/*FOOTER*/
footer {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .redes a {
  text-decoration: none;
  font-size: 30px;
}

/*BOTONES*/
.btn {
  background-color: black;
  border-radius: 40px;
  color: white;
  text-decoration: none;
  border-color: orange;
}
.btn:hover {
  background-color: orange;
}

/*ACTIVIDADES INICIO*/
.padre-actividades {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.padre-actividades .actividades img {
  max-width: 100%;
  border-radius: 5px;
}
.padre-actividades .actividades img:hover {
  transform: scale(1.02);
}

.actividades {
  color: white;
  margin: 50px 5px;
  padding: 10px;
  width: 300px;
  max-width: 100%;
  position: relative;
  text-align: center;
}

/*Aplico media queries a Actividades Index*/
@media (max-width: 481px) {
  .padre-actividades {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .padre-actividades-html {
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
  }
}
/*STAFF INICIO*/
.staff-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/*Media q para staff index*/
@media (min-width: 768px) {
  .staff-inicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
/*PLANES INICIO*/
.padre-planes {
  font-family: "Almarai", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin: 30px;
  color: white;
  gap: 130px;
}
.padre-planes .planes-img {
  width: 300px;
  border-radius: 7px;
}
.padre-planes .planes-img:hover {
  transform: scale(1.02);
}

/*Media q aplicada a Planes index*/
@media (max-width: 480px) {
  .padre-planes {
    display: block;
  }
}
/*CONTACTO INICIO*/
.padre-contacto {
  font-size: 20px;
}
.padre-contacto .mapa-img {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
}

/*ACTIVIDADES HTML*/
.padre-actividades-html {
  font-family: "Almarai", sans-serif;
  font-size: 20px;
}
.padre-actividades-html .parrafo-actividad {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.actividades-html {
  text-align: center;
  margin: 15px;
}

/*aplicando media queries a Actividades*/
@media (max-width: 481px) {
  .padre-actividades-html {
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
  }
}
@media (max-width: 768px) {
  .padre-actividades-html {
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
  }
}
/*STAFF HTML*/
.padre-staff-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.padre-staff-html .card {
  background-color: orange;
  color: white;
  text-align: center;
}

/*PLANES HTML*/
.padre-planes-html {
  font-family: "Almarai", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.planes-html {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: orange;
  color: white;
  font-size: 30px;
  margin: 60px;
  border-radius: 7px;
  text-align: center;
}

.parrafo-planes {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.img-plan-html {
  width: 250px;
  margin: 10px;
  border-radius: 7px;
  border: solid;
}

/*aplicando media queries a Planes html*/
@media (max-width: 481px) {
  .planes-html {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    align-content: center;
  }
}
@media (max-width: 768px) {
  .planes-html {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
/*CONTACTO HTML*/
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.padre-form-html {
  margin: 0 auto;
}

.form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  margin-top: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

#boton {
  background: orange;
  padding: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: none;
    width: 100%;
  }
}
@media (max-width: 481px) {
  .container {
    display: grid;
    grid-template-columns: none;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
